{%extends 'base.html'%}

{%block head%}
<title>Video Uploader</title>
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

{%endblock%}

{%block body%}
<div class="header">
    <img src = "static\video.jpg" id="icon">
    <h1 id = "webpage_title">Put Title Here</h1>
</div>

<div class = "main">
    <div id = "box_1">
        <h5>AI powered highlights extractor</h5>
        <h1>Get the Video Highlights in a click</h1>
    </div>

    <div id ="box_2">
        {% if tasks[0] == True %}
            <video controls>
                <source src ="{{url_for('static', filename = 'video/' + tasks[1])}}" type="video/mp4">
            </video>
        {% else %}
            <img src="static/home_img.png" id="home_img">
        {% endif %}
    </div>
</div>
<div id = "buttons">
    <label for="video_upload" id="custom_file_upload">
        Upload Video
    </label>
    <form action = '/' method = 'POST' enctype="multipart/form-data">
        <input type="file" id="video_upload" name="video" accept="video/*" required >
        <input type="submit" value="Submit and Show Preview" id="submit">
    </form>
    

    <form action="/loading" >
        <button id = "Extract_button"> Extract Highlights</button>
    </form>
    
</div>

{%endblock%}
